<%-include("../../partials/header.ejs") %>
<body>
  <%-include("../../partials/adminNavbar.ejs") %>
  <main>
    <div class="container">
      <hr>
      <h2>Categorias</h2>
      <hr>
      <a class="btn btn-primary" href="/admin/category/new">Criar Categoria</a>
      <hr>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-light"> 
            <tr>
              <th>Id</th>
              <th>Título</th>
              <th>Slug</th>
              <th>Ações</th>
            </tr>
          </thead>
          <% categories.forEach(category=>{ %> 
            <tbody>
              <tr>
                <td><%= category.id%></td>
                <td><%= category.title%></td>
                <td><%= category.slug%></td>
                <td>
                  <a class="btn btn-warning " href="/admin/category/edit/<%= category.id %>">Editar</a>
                  <form action="/admin/category/delete/save" method="POST" style="display: inline;" onsubmit="ConfirmarExclusao(event,this)">
                    <input type="text" value="<%=category.id%>" name="id" hidden>
                    <button class="btn btn-danger" type="submit">Excluir<button>
                  </form>
                </td>
              </tr>
            </tbody>
          <% }) %>
        </table>
      </div>
    </div>
  </main>
</body>
<%-include("../../partials/footer.ejs") %>
<script>
  function ConfirmarExclusao(event,form){
    event.preventDefault()
    var resposta=confirm('Deseja mesmo excluir esta categoria?')
    if(resposta){
      form.submit()
    }
  }
</script>
